/templates_eou
/templates_sage.old
/updates.new
/catalog
/circ
/cgi-bin
/data
/lock
/log
/penalty
/run
/updates
/xsl
/web/js/dojo
/web/conify
/web/notices
/web/reporter
/web/reporter_sage
/web/standalone
/web/xul/2_4sage_000.old
/web/xul/2_5sage_000.old
/web/xul/2_7sage_000
/web/xul/server
/web/opac/skin/default.orig
/web/opac/skin/eou
/web/opac/skin/eou-orig
/web/opac/skin/eou.orig
/web/opac/skin/rel_2_1_0
/web/opac/skin/rel_2_1_0.test
/web/opac/skin/rel_2_1_0.test2

*.log
*.zip
*.tar
*.gz
.svn*

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.ehthumbs.db
Thumbs.db

eg_cache_hash
Makefile*
ldirectorping.txt
robots.txt
eg_cache_hash
